@media screen and (min-width: 1158px) {
    .container {
        min-width: 1158px;
        margin: 0 auto;
        padding: 0px 15px;
        width: 90%;
    }

    header .container nav {
        margin: 0 auto;
        min-height: auto;
        width: auto;
        padding: 0;
    }

    header .logo {
        margin-right: 76px;
    }

    .menu {
        margin: 0;
    }

    address {
        justify-content: right;
    }

    address ul li a {
        margin: 0;
    }

    .main-section {
        text-align: center;
        padding: 188px 0;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/hero/hero-bg_desk@1x.jpg');
    }

    @media (min-resolution: 192dpi) {
        .main-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url('../images/hero/hero-bg_desk@2x.jpg');
        }
    }

    .contacts ul {
        display: flex;
        flex-shrink: 0;
        gap: 40px;
    }

    .contacts ul li {
        display: inline-block;
    }

    .customers-wrapper {
        flex-wrap: nowrap;
    }

    .container .footer-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 0;
    }

    .team-list .team-member {
        width: calc((100%) / 4);
    }

    .what-we-do {
        display: flex;
    }

    .what-we-do-list {
        display: flex;
        gap: 24px;
    }

    .features-list {
        padding: 120px 0;
    }

    .features {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .feature {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .feature h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .feature-icon {
        height: 112px;
        width: 264px;
        background-color: #F4F4FD;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

    .feature li {
        gap: 0;
    }

    .team-list {
        flex-wrap: nowrap;
    }

    .social-footer {
        margin-left: 120px;
        margin-right: 80px;
    }
}